@font-face {
  font-family: 'ApexNew-Light';
  src: url('ApexNew-Light.eot');
  src: url('ApexNew-Light.woff2') format('woff2'),
       url('ApexNew-Light.woff') format('woff'),
       url('ApexNew-Light.ttf') format('truetype'),
       url('ApexNew-Light.svg#ApexNew-Light') format('svg'),
       url('ApexNew-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

