@font-face {
    font-family: 'ApexNew-Light';
    src: url('../../libs/fonts/apex-light/ApexNew-Light.eot');
    src: url('../../libs/fonts/apex-light/ApexNew-Light.woff2') format('woff2'),
    url('../../libs/fonts/apex-light/ApexNew-Light.woff') format('woff'),
    url('../../libs/fonts/apex-light/ApexNew-Light.ttf') format('truetype'),
    url('../../libs/fonts/apex-light/ApexNew-Light.svg#ApexNew-Light') format('svg'),
    url('../../libs/fonts/apex-light/ApexNew-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');

$negro: #000000;
$amarillo: #ffdf4c;
$blanco: #FFFFFF;

// *************************
// MIXINS PARA ESTILOS PREDETERMINADOS
// *************************
@mixin responsive($point) {
    @if $point==fullHd {
        @media (max-width: 1920px) {
            @content;
        }
    }
    @else if $point==deskHd {
        @media (max-width: 1360px) {
            @content;
        }
    }
    @else if $point==deskBg {
        @media (max-width: 1261px) {
            @content;
        }
    }
    @else if $point==deskSm {
        @media (max-width: 980px) {
            @content;
        }
    }
    @else if $point==desk {
        @media (max-width: 801px) {
            @content;
        }
    }
    @else if $point==tablet {
        @media (max-width: 769px) {
            @content;
        }
    }
    @else if $point==movil {
        @media (max-width: 651px) {
            @content;
        }
    }
    @else if $point==movilSm {
        @media (max-width: 420px) {
            @content;
        }
    }
    @else if $point==HeighAng {
        @media (max-height: 650px) {
            @content;
        }
    }
}


@mixin centrado-absoluto($top,
$left,
$right,
$bottom,
$transX,
$transY) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    z-index: 12;
    -ms-transform: translateX($transX) translateY($transY);
    -moz-transform: translateX($transX) translateY($transY);
    -webkit-transform: translateX($transX) translateY($transY);
    transform: translateX($transX) translateY($transY);
}

body,
html,
main {
    position: relative;
    width: 100%;
    height: 100%;
}

main {
    height: auto;
}

.MSchemGoo {
    display: none;
    z-index: -1;
    opacity: 0;
}

section#header {
    background: $negro;
    cursor: pointer;
    .titulo-landing {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        font-family: 'ApexNew-Light';
        h1 {
            font-size: 4em;
            text-align: right;
            padding-right: 5%;
            color: $blanco;
            letter-spacing: 2px;
            -webkit-font-smoothing: antialiased;
            span {
                font-weight: bold;
                color: $amarillo;
            }
        }
    }
    .logo-empresa {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        margin-left: -4px;
        text-align: center;
        position: relative;
        img {
            margin: 0 auto;
        }
        &:before {
            content: '/';
            color: white;
            font-size: 5em;
            font-weight: lighter;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            @include centrado-absoluto(55%,
            2%,
            auto,
            auto,
            0%,
            -50%);
        }
    }
}

.botonesScroll-capitulo {
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 20;
    display: block;
    text-align: center;
    background: rgba($negro, 0.50);
    .botonScroll {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin: 0 auto;
        a {
            color: #aaaaaa;
            text-align: center;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 30%;
            display: block;
            margin: 0 auto;
            &:hover {
                text-decoration: none;
            }
            .btnTexto {
                line-height: 2.5em;
            }
            .btnFranja {
                height: 5px;
                background: yellow;
                width: 100%;
            }
        }
    }
}
.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 0%;
}
section#video-bancoldex {
    width: 100%;
    position: relative;
    // overflow: hidden;
    .prev {
        position: absolute;
        top: 50%;
        left: 1%;
        z-index: 99;
        cursor: pointer;
        -ms-transform: translateX(0%) translateY(-50%);
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    .next {
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 1%;
        z-index: 99;
        -ms-transform: translateX(0%) translateY(-50%);
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    .slider-inicio {
        .item {
            &.videoWrap{
                position: relative;
                width: 100%;
                padding-top: 38.5%;
                .video {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .volver-seleccion-capt {
                display: none;
                position: absolute;
                z-index: 15;
                top: 5%;
                left: 0;
                cursor: pointer;
            }
        }
    }
    .slider-video {
        position: relative;
        padding-top: 39.5%;
        .video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    .titulares-video {
        width: 60%;
        position: absolute;
        height: 100%;
        background: url(../../img/bg-info-video.png) left center no-repeat;
        z-index: 10;
        opacity: 1;
        background-size: cover;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        .titulares-video-cont {
            width: 100%;
            height: 100%;
            position: relative;
            .cont-abs {
                width: 60%;
                @include centrado-absoluto(50%,
                35%,
                auto,
                auto,
                -50%,
                -50%);
                &.sliderPpal {
                    @include centrado-absoluto(0%,
                    30%,
                    auto,
                    auto,
                    -50%,
                    0%);
                    .ver-capitulo {
                        display: inline-block;
                    }
                }
                .dropdown {
                    border: 1px solid #FFFFFF;
                    color: #FFFFFF;
                    font-family: 'Roboto';
                    font-size: 1.5em;
                    letter-spacing: 1px;
                    width: 100%;
                    display: block;
                    margin-bottom: 3%;
                    .span {
                        line-height: 2em;
                        display: block;
                        position: relative;
                        cursor: pointer;
                        padding-left: 1%;
                        .icono-bajar {
                            position: absolute;
                            width: 21%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            max-width: 40px;
                            border-left: 1px solid $blanco;
                        }
                    }
                    .dropdown-content {
                        display: none;
                        position: relative;
                        .dropdown-item {
                            border-bottom: 1px solid white;
                            font-size: 0.7em;
                            line-height: 2.5em;
                            padding-left: 1%;
                            cursor: pointer;
                            opacity: 0;
                            p {
                                margin: 0;
                                font-size: 1em;
                                line-height: 3em;
                            }
                            &:hover {
                                background: rgba($negro, 0.5);
                            }
                            &:first-child {
                                border-top: 1px solid white;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                        &.activo {
                            display: block!important;
                            position: absolute;
                            z-index: 20;
                            background: black;
                            width: 100%;
                            border: 1px solid white;
                        }
                    }
                    &.capitulos {
                        max-width: 70%;
                        opacity: 0;
                        display: none;
                        &.activo {
                            opacity: 1;
                            display: block;
                        }
                    }
                }
                .titulo-capitulo {
                    width: 80%;
                    h2 {
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-size: 4em;
                        font-family: 'Roboto';
                        font-weight: 200;
                        span {
                            display: block;
                            font-weight: 400;
                        }
                    }
                    p {
                        color: $blanco;
                        font-size: 1.2em;
                        font-weight: 200;
                    }
                }
                .ver-capitulo {
                    margin-top: 4%;
                    background: $amarillo;
                    width: 180px;
                    padding: 1%;
                    cursor: pointer;
                    p,
                    a {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        margin: 0;
                        line-height: 2.5em;
                        display: block;
                        color: $negro;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .volver-seleccion-capt {
        display: none;
        position: absolute;
        z-index: 15;
        top: 5%;
        left: 0;
        cursor: pointer;
    }
}

section#informacion {
    position: relative;
    background: url(../../img/textura-informacion.jpg);
    padding: 5% 0%;
    .info-texto,
    .info-imagen {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        font-family: 'ApexNew-Light';
    }
    .info-texto {
        padding: 0% 3% 0% 10%;
        h2 {
            font-size: 4em;
            padding-right: 25%;
            font-family: 'Roboto';
            font-weight: 400;
            span {
                color: #aaaaaa;
                display: block;
            }
        }
        p {
            font-family: 'Roboto Condensed';
            font-size: 1.4em;
            font-weight: 300;
        }
        &.interior-capitulo {
            width: 100%;
            display: block;
            padding: 5% 0%;
            padding-right: 15%;
            position: relative;
            z-index: 8;
            h2 {
                font-size: 3em;
            }
            h2,
            p {
                text-align: right;
                margin: 0;
                padding: 0;
            }
            p {
                width: 50%;
                margin-right: 0;
                margin-left: auto;
                margin-top: 2%;
            }
        }
    }
    .info-imagen {
        width: 40%;
        margin-left: -4px;
        &.interior-capitulo {
            width: 50%;
            position: absolute;
            height: 100%;
            background: url(../../img/cortina-contenido-interno.png) left top no-repeat;
            background-size: cover;
        }
    }
    &.interior-seccion-capitulo {
        padding: 0;
    }
}

section#soundCloud {
    position: relative;
    background: url(../../img/bg-audios.jpg) left top no-repeat;
    width: 100%;
    background-size: cover;
    .cont-soundCloud {
        background-color: #292929;
        padding: 1% 0%;
    }
    .soundCloud-item {
        width: 60%;
        margin: 1% auto;
    }
}

section#infografico {
    position: relative;
    .prev {
        position: absolute;
        top: 50%;
        left: 1%;
        z-index: 99;
        cursor: pointer;
        -ms-transform: translateX(0%) translateY(-50%);
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    .next {
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 1%;
        z-index: 99;
        -ms-transform: translateX(0%) translateY(-50%);
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    .redes-contenedor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        background: rgba($negro, 0.8);
        .redes-cover {
            position: relative;
            width: 100%;
            height: 100%;
            .redes {
                @include centrado-absoluto( 50%,
                50%,
                auto,
                auto,
                -50%,
                -50%);
                width: 50%;
                text-align: center;
                .red {
                    display: inline-block;
                    margin: 0% 3%;
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}

section#footer {
    position: relative;
    background: url(../../img/textura-footer.jpg);
    border-top: 2px solid #afaeae;
    .logos-patrocinadores {
        text-align: right;
        width: 75%;
        padding: 1% 0%;
        padding-right: 5%;
        padding-bottom: 5%;
        display: inline-block;
        .logo {
            display: inline-block;
            text-align: center;
            padding: 0% 1%;
            vertical-align: middle;
        }
        .separador {
            width: auto;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .redes-sociales {
        display: inline-block;
        width: 25%;
        margin-left: -4px;
        .cont-redes {
            border: 1px solid;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            padding: 2%;
            text-align: center;
            display: block;
            width: 60%;
        }
        .siguenos,
        .red {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@include responsive(deskBg) {
    section#footer .redes-sociales .cont-redes {
        width: 80%;
    }
    section#informacion .info-texto p {
        font-size: 1.2em;
    }
    section#informacion .info-texto h2 {
        font-size: 3.1em;
    }
    section#header .logo-empresa img {
        width: 50%;
    }
    section#video-bancoldex .titulares-video {
        width: 65%;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 {
        font-size: 3.5em;
    }
    section#informacion .info-texto.interior-capitulo {
        padding-right: 10%;
    }
    section#soundCloud .soundCloud-item {
        width: 80%;
    }
}

@include responsive(deskSm) {
    section#header .titulo-landing h1 {
        font-size: 3.2em;
        padding-right: 2%;
    }
    section#informacion .info-texto {
        width: 55%;
    }
    section#informacion .info-texto {
        padding-left: 1%;
    }
    section#footer .logos-patrocinadores {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    section#footer .redes-sociales {
        text-align: center;
        display: block;
        width: auto;
        margin-left: auto;
    }
    section#footer .redes-sociales .cont-redes {
        width: 40%;
        margin: 0 auto;
        padding: 1%;
    }
    section#informacion .info-texto p {
        font-size: 1em;
    }
    section#informacion .info-texto h2 {
        font-size: 2.5em;
    }
    .botonesScroll-capitulo .botonScroll a {
        width: 60%;
    }
}

@include responsive(desk) {
    section#video-bancoldex .titulares-video {
        width: 70%;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs {
        width: 80%;
        left: 45%;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo {
        width: 100%;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown.capitulos {
        max-width: 100%;
    }
    section#informacion .info-texto.interior-capitulo {
        padding-right: 0%;
    }
    section#informacion .info-texto.interior-capitulo h2,
    section#informacion .info-texto.interior-capitulo p {
        text-align: center;
        margin: 0 auto;
        width: 98%;
        text-align: left;
        margin-top: 2%;
    }
    section#soundCloud .soundCloud-item {
        width: 95%;
    }
}

@include responsive(tablet) {
    section#header .titulo-landing h1 {
        font-size: 2.5em;
    }
    section#header .logo-empresa {
        width: 35%;
        text-align: right;
    }
    section#header .logo-empresa img {
        margin-right: 0;
        margin-left: auto;
    }
    section#informacion {
        text-align: center;
    }
    section#informacion .info-texto {
        width: 85%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }
    section#informacion .info-imagen {
        display: none;
    }
    section#footer {
        padding: 2% 0%;
    }
    section#footer .logos-patrocinadores .logo {
        max-width: 28%;
        img {
            width: 100%;
        }
    }
    section#footer{
        padding-bottom: 15%;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content{
        z-index: 99;
    } 
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item p{
        line-height: 4em;
        font-size: 1.1em;
    }
}

@include responsive(movil) {
    section#video-bancoldex .titulares-video {
        width: 100%;
        background: rgba($negro , 0.8);
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 2%
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo .snippet-capitulo {
        display: none;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo {
        margin-top: 0%;
        width: 150px;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 span {
        display: inline;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo p {
        font-size: 1em;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo a {
        font-size: 0.9em;
    }
    section#header .titulo-landing h1,
    section#informacion .info-texto h2,
    section#informacion .info-texto.interior-capitulo h2 {
        font-size: 2em;
    }
    section#informacion .info-texto p {
        font-size: 1em;
    }
    section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown {
        font-size: 1em;
    }
    section#header .titulo-landing {
        display: block;
        width: 100%;
    }
    section#header .titulo-landing h1 {
        text-align: center;
        padding-right: 0%;
        margin: 0;
        padding-top: 5%;
    }
    section#header .logo-empresa {
        display: block;
        width: 100%;
        &:before {
            content: '';
        }
        img {
            width: 35%;
            margin: 0 auto;
            margin-right: auto;
            padding-bottom: 5%;
        }
    }
    section#footer .redes-sociales .cont-redes {
        width: 60%;
        margin-top: 2%;
    }
    .botonesScroll-capitulo .botonScroll {
        margin-left: -4px;
        width: 33.6%;
        font-size: 0.9em;
    }
    .botonesScroll-capitulo .botonScroll a , .botonesScroll-capitulo .botonScroll a .btnTexto{
        width: 100%;
        color: $blanco;
        letter-spacing: 0px;
    }
    section#infografico .redes-contenedor {
        height: 20%;
        min-height: 40px;
        top: auto;
        bottom: 0%;
        opacity: 1;
    }
    section#infografico .redes-contenedor .redes-cover .redes{
        top: 55%;
    }
    section#infografico .redes-contenedor .redes-cover .redes .red {
        max-width: 30px;
    }
}
@include responsive(movilSm) {
    section#header .titulo-landing h1,
    section#informacion .info-texto h2,
    section#informacion .info-texto.interior-capitulo h2 {
        font-size: 1.5em;
    }
    section#header .logo-empresa img {
        width: 35%;
        padding-bottom: 2%;
    }
}