@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700");
@font-face {
  font-family: 'ApexNew-Light';
  src: url("../../libs/fonts/apex-light/ApexNew-Light.eot");
  src: url("../../libs/fonts/apex-light/ApexNew-Light.woff2") format("woff2"), url("../../libs/fonts/apex-light/ApexNew-Light.woff") format("woff"), url("../../libs/fonts/apex-light/ApexNew-Light.ttf") format("truetype"), url("../../libs/fonts/apex-light/ApexNew-Light.svg#ApexNew-Light") format("svg"), url("../../libs/fonts/apex-light/ApexNew-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
body, html, main {
  position: relative;
  width: 100%;
  height: 100%; }

main {
  height: auto; }

section#header {
  background: #000000; }
  section#header .titulo-landing {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-family: 'ApexNew-Light'; }
    section#header .titulo-landing h1 {
      font-size: 4em;
      text-align: right;
      padding-right: 5%;
      color: #FFFFFF;
      letter-spacing: 2px;
      -webkit-font-smoothing: antialiased; }
      section#header .titulo-landing h1 span {
        font-weight: bold;
        color: #ffdf4c; }
  section#header .logo-empresa {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin-left: -4px;
    text-align: center;
    position: relative; }
    section#header .logo-empresa img {
      margin: 0 auto; }
    section#header .logo-empresa:before {
      content: '/';
      color: white;
      font-size: 5em;
      font-weight: lighter;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      position: absolute;
      top: 55%;
      left: 2%;
      right: auto;
      bottom: auto;
      z-index: 12;
      -ms-transform: translateX(0%) translateY(-50%);
      -moz-transform: translateX(0%) translateY(-50%);
      -webkit-transform: translateX(0%) translateY(-50%);
      transform: translateX(0%) translateY(-50%); }

section#video-bancoldex {
  width: 100%;
  position: relative;
  overflow: hidden; }
  section#video-bancoldex .slider-inicio .item img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  section#video-bancoldex .slider-video {
    position: relative;
    padding-top: 56.25%; }
    section#video-bancoldex .slider-video .video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  section#video-bancoldex .titulares-video {
    width: 60%;
    position: absolute;
    height: 100%;
    background: url(../../img/bg-info-video.jpg) left center no-repeat;
    z-index: 10;
    opacity: 1;
    background-size: cover;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    section#video-bancoldex .titulares-video .titulares-video-cont {
      width: 100%;
      height: 100%;
      position: relative; }
      section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 35%;
        right: auto;
        bottom: auto;
        z-index: 12;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
        section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown {
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          font-family: 'Roboto';
          font-size: 1.5em;
          letter-spacing: 1px;
          width: 100%;
          display: block;
          margin-bottom: 3%; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .span {
            line-height: 2em;
            display: block;
            position: relative;
            cursor: pointer;
            padding-left: 1%; }
            section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .span .icono-bajar {
              position: absolute;
              width: 21%;
              height: 100%;
              top: 0;
              right: 0;
              max-width: 40px;
              border-left: 1px solid #FFFFFF; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content {
            display: none;
            position: relative; }
            section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item {
              border-bottom: 1px solid white;
              font-size: 0.7em;
              line-height: 2.5em;
              padding-left: 1%; }
              section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item p {
                margin: 0; }
              section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item:hover {
                background: rgba(0, 0, 0, 0.5); }
              section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item:first-child {
                border-top: 1px solid white; }
              section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content .dropdown-item:last-child {
                border-bottom: none; }
            section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown .dropdown-content.activo {
              display: block !important; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown.capitulos {
            max-width: 70%; }
        section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo {
          width: 80%; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 {
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: 4em;
            font-family: 'Roboto';
            font-weight: 200; }
            section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 span {
              display: block;
              font-weight: 400; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo p {
            color: #FFFFFF;
            font-size: 1.2em;
            font-weight: 200; }
        section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo {
          margin-top: 4%;
          background: #ffdf4c;
          width: 180px;
          padding: 1%;
          cursor: pointer; }
          section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo p {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2em;
            margin: 0;
            line-height: 2.5em;
            display: block;
            color: #000000; }
  section#video-bancoldex .volver-seleccion-capt {
    display: none;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    cursor: pointer; }

section#informacion {
  position: relative;
  background: url(../../img/textura-informacion.jpg);
  padding: 5% 0%; }
  section#informacion .info-texto, section#informacion .info-imagen {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-family: 'ApexNew-Light'; }
  section#informacion .info-texto {
    padding: 0% 3% 0% 10%; }
    section#informacion .info-texto h2 {
      font-size: 4em;
      padding-right: 25%;
      font-family: 'Roboto';
      font-weight: 400; }
      section#informacion .info-texto h2 span {
        color: #aaaaaa; }
    section#informacion .info-texto p {
      font-family: 'Roboto Condensed';
      font-size: 1.4em;
      font-weight: 300; }
    section#informacion .info-texto.interior-capitulo {
      width: 100%;
      display: block;
      padding: 11% 0%;
      padding-right: 15%; }
      section#informacion .info-texto.interior-capitulo h2 {
        font-size: 3em; }
      section#informacion .info-texto.interior-capitulo h2, section#informacion .info-texto.interior-capitulo p {
        text-align: right;
        margin: 0;
        padding: 0; }
      section#informacion .info-texto.interior-capitulo p {
        width: 50%;
        margin-right: 0;
        margin-left: auto;
        margin-top: 2%; }
  section#informacion .info-imagen {
    width: 40%;
    margin-left: -4px; }
    section#informacion .info-imagen.interior-capitulo {
      width: 50%;
      position: absolute;
      height: 100%;
      background: url(../../img/cortina-contenido-interno.png) left top no-repeat;
      background-size: cover; }
  section#informacion.interior-seccion-capitulo {
    padding: 0; }

section#soundCloud {
  position: relative;
  background: url(../../img/bg-audios.jpg) left top no-repeat;
  width: 100%;
  background-size: cover; }
  section#soundCloud .cont-soundCloud {
    background-color: #292929;
    padding: 1% 0%; }
  section#soundCloud .soundCloud-item {
    width: 60%;
    margin: 1% auto; }

section#footer {
  position: relative;
  background: url(../../img/textura-footer.jpg);
  border-top: 2px solid #afaeae; }
  section#footer .logos-patrocinadores {
    text-align: right;
    width: 75%;
    padding: 1% 0%;
    padding-right: 5%;
    display: inline-block; }
    section#footer .logos-patrocinadores .logo {
      display: inline-block;
      text-align: center;
      padding: 0% 1%;
      vertical-align: middle; }
    section#footer .logos-patrocinadores .separador {
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: middle; }
  section#footer .redes-sociales {
    display: inline-block;
    width: 25%;
    margin-left: -4px; }
    section#footer .redes-sociales .cont-redes {
      border: 1px solid;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      padding: 2%;
      text-align: center;
      display: block;
      width: 60%; }
    section#footer .redes-sociales .siguenos, section#footer .redes-sociales .red {
      display: inline-block;
      vertical-align: middle; }

@media (max-width: 1261px) {
  section#footer .redes-sociales .cont-redes {
    width: 80%; }

  section#informacion .info-texto p {
    font-size: 1.2em; }

  section#informacion .info-texto h2 {
    font-size: 3.1em; }

  section#header .logo-empresa img {
    width: 50%; }

  section#video-bancoldex .titulares-video {
    width: 65%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 {
    font-size: 3.5em; }

  section#informacion .info-texto.interior-capitulo {
    padding-right: 10%; }

  section#soundCloud .soundCloud-item {
    width: 80%; } }
@media (max-width: 980px) {
  section#header .titulo-landing h1 {
    font-size: 3.2em;
    padding-right: 2%; }

  section#informacion .info-texto {
    width: 55%; }

  section#informacion .info-texto {
    padding-left: 1%; }

  section#footer .logos-patrocinadores {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0; }

  section#footer .redes-sociales {
    text-align: center;
    display: block;
    width: auto;
    margin-left: auto; }

  section#footer .redes-sociales .cont-redes {
    width: 40%;
    margin: 0 auto;
    padding: 1%; }

  section#informacion .info-texto p {
    font-size: 1em; }

  section#informacion .info-texto h2 {
    font-size: 2.5em; } }
@media (max-width: 801px) {
  section#video-bancoldex .titulares-video {
    width: 70%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs {
    width: 80%;
    left: 45%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo {
    width: 100%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown.capitulos {
    max-width: 100%; }

  section#informacion .info-texto.interior-capitulo {
    padding-right: 0%; }

  section#informacion .info-texto.interior-capitulo h2, section#informacion .info-texto.interior-capitulo p {
    text-align: center;
    margin: 0 auto;
    width: 98%;
    text-align: left;
    margin-top: 2%; }

  section#soundCloud .soundCloud-item {
    width: 95%; } }
@media (max-width: 769px) {
  section#header .titulo-landing h1 {
    font-size: 2.5em; }

  section#header .logo-empresa {
    width: 35%;
    text-align: right; }

  section#header .logo-empresa img {
    margin-right: 0;
    margin-left: auto; }

  section#informacion {
    text-align: center; }

  section#informacion .info-texto {
    width: 85%;
    padding: 0;
    text-align: left;
    margin: 0 auto; }

  section#informacion .info-imagen {
    display: none; }

  section#footer {
    padding: 2% 0%; }

  section#footer .logos-patrocinadores .logo {
    max-width: 28%; }
    section#footer .logos-patrocinadores .logo img {
      width: 100%; } }
@media (max-width: 651px) {
  section#video-bancoldex .titulares-video {
    width: 100%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 2%; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo .snippet-capitulo {
    display: none; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo {
    margin-top: 0%;
    width: 150px; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo h2 span {
    display: inline; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .titulo-capitulo p {
    font-size: 1em; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .ver-capitulo a {
    font-size: 0.9em; }

  section#informacion .info-texto.interior-capitulo h2 {
    font-size: 2em; }

  section#informacion .info-texto p {
    font-size: 1em; }

  section#video-bancoldex .titulares-video .titulares-video-cont .cont-abs .dropdown {
    font-size: 1em; }

  section#header .titulo-landing {
    display: block;
    width: 100%; }

  section#header .titulo-landing h1 {
    text-align: center;
    padding-right: 0%;
    margin: 0;
    padding-top: 5%; }

  section#header .logo-empresa {
    display: block;
    width: 100%; }
    section#header .logo-empresa:before {
      content: ''; }
    section#header .logo-empresa img {
      width: 35%;
      margin: 0 auto;
      margin-right: auto;
      padding-bottom: 5%; }

  section#footer .redes-sociales .cont-redes {
    width: 60%;
    margin-top: 2%; } }
@media (max-width: 420px) {
  section#header .titulo-landing h1 {
    font-size: 2em; }

  section#header .logo-empresa img {
    width: 35%;
    padding-bottom: 2%; } }
